<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/imageCSS/image.css">
  <title>Pagina web</title>
</head>

<body>

  <header>
    <div class="menu">
      <img class="logoImg" src="../picture/logo.png" alt="">
      <nav>
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./image.html">Imagenes</a></li>
          <li><a href="./video.html">Videos</a></li>
          <li><a href="./contacto.html">Sobre la web</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <div class="titulo_Div">
      <h1 class="titulo_h1">Imagenes</h1>
    </div>

    <div class="mainDiv">
      <div class="temaDivImg1">
        <p class="temaP_img1">Paisajes</p>
      </div>

      <div class="caja">
        <div class="cajaImg1">
          <img src="../picture/image/paisaje.jpg" alt="" class="img1">
        </div>
        <div class="cajaImg2">
          <img src="../picture/image/img8.jpg" alt="" class="img2">
        </div>
      </div>

      <div class="caja_Texto">
        <div class="subCajaTexto">
          <p>
            Los videos tambien llaman la atención, por su estilo particular, ya que es un medio en que
            podemos ver cosas impactantes por eso a los espectadores les gusta, lo recuerdan, comparten y
            compran por ellos.
          </p>
        </div>
      </div>

      <div class="mainDiv">
        <div class="temaDivImg1">
          <p class="temaP_img1">Paisajes</p>
        </div>

        <div class="caja_slider">
          <div class="slider">
            <ul>
              <li>
                <img src="../picture/image/animal1.jpg">
              </li>
              <li>
                <img src="../picture/image/animal2.jpg">
              </li>
              <li>
                <img src="../picture/image/animal3.jpg">
              </li>
              <li>
                <img src="../picture/image/animal4.jpg">
              </li>
            </ul>
          </div>
        </div>

        <div class="caja_Texto">
          <div class="subCajaTexto">
            <p>
              Los videos tambien llaman la atención, por su estilo particular, ya que es un medio en que
              podemos ver cosas impactantes por eso a los espectadores les gusta, lo recuerdan, comparten y
              compran por ellos.
            </p>
          </div>
        </div>

  </main>

</body>

</html>